In [2]:

import numpy as np
import pandas as pd
from scipy import stats


print("All libraries imported successfully!")

All libraries imported successfully!

In [3]:
np.random.seed(42)
group_A = np.random.normal(loc=5, scale=2, size=50)
group_B = np.random.normal(loc=6, scale=2.5, size=50)

df = pd.DataFrame({"Group A": group_A, "Group B": group_B})
df.head()

    Group A   Group B
0  5.993428  6.810210
1  4.723471  5.037294
2  6.295377  4.307695
3  8.046060  7.529191
4  4.531693  8.577499

In [4]:
t_stat, p_value = stats.ttest_ind(group_A, group_B)
print(f"T-test result: t = {t_stat:.2f}, p = {p_value:.4f}")

T-test result: t = -3.68, p = 0.0004

In [5]:
df.loc['Mean'] = df.mean()
df.loc['Std'] = df.std()
df

       Group A   Group B
0     5.993428  6.810210
1     4.723471  5.037294
2     6.295377  4.307695
3     8.046060  7.529191
4     4.531693  8.577499
5     4.531726  8.328200
6     8.158426  3.901956
7     6.534869  5.226969
8     4.061051  6.828159
9     6.085120  8.438863
10    4.073165  4.802064
11    4.068540  5.535853
12    5.483925  3.234163
13    1.173440  3.009483
14    1.550164  8.031315
15    3.875425  9.390600
16    2.974338  5.819975
17    5.628495  8.508832
18    3.183952  6.904090
19    2.175393  4.387201
20    7.931298  6.903489
21    4.548447  9.845091
22    5.135056  5.910435
23    2.150504  9.911609
24    3.911235 -0.549363
25    5.221845  8.054756
26    2.698013  6.217618
27    5.751396  5.252482
28    3.798723  6.229402
29    4.416613  1.031078
30    3.796587  5.450820
31    8.704556  6.892781
32    4.973006  9.694735
33    2.884578  4.704324
34    6.645090  3.978766
35    2.558313  4.745607
36    5.417727  8.288505
37    1.080660  6.821878
38    2.343628  4.675599
39    5.393722  7.283169
40    6.476933  6.242694
41    5.342737  8.421612
42    4.768703  4.244867
43    4.397793  5.180845
44    2.042956  5.019730
45    3.560312  2.341213
46    4.078722  6.740301
47    7.114244  6.652638
48    5.687237  6.012784
49    1.473920  5.413532
Mean  4.549052  6.044452
Std   1.848570  2.163844